.heading {
    background-color: rgb(250, 76, 105);
    text-align: center;
    height: 400px;
    width: 100%;
    padding-top: 14rem;
    h1 {
        font-size: 3rem;
        color: white;
    }
    p {
        margin-top: -1.5rem;
        font-size: 0.95rem;
        color: white;
        font-weight: bold;
    }
    h2 {
        margin-top: -1rem;
        font-size: 0.95rem;
        color: white;
        font-weight: bold;
    }
}

.page {
    background: rgb(255, 255, 255);
    text-align: center;
    h1{
        padding-top: 2rem;
        font-size: 3rem;
        color: rgb(250, 76, 105);
        font-weight: lighter;
        padding-bottom: 2rem;
    }
    p{
        font-size: 1.2rem;
        color: rgb(250, 76, 105);
        font-weight: bold;
    }
}

.flex {
    padding: 5rem 3.5rem 5rem 2rem;
    display: flex;
}
.box1 {
    background-color: white;
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:rgb(250, 76, 105);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(250, 76, 105);
        font-weight: lighter;
    }
}

.box2 {
    background-color: rgb(250, 76, 105);
    opacity: 33%;
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:white;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:white;
        font-weight: lighter;
    }
}

.box3 {
    background-color: rgb(250, 76, 105);
    opacity: 66%;
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:white;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:white;
        font-weight: lighter;
    }
}

.box4 {
    background-color: rgb(250, 76, 105);
    flex-grow: 1;
    width: 250px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 1.9rem;
    box-shadow: 0 0 25px gray;
    h1{
        padding-top: 4.5rem;
        font-size: 1.9rem;
        color:white;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:white;
        font-weight: lighter;
    }
}

.line {
    border-top: 1px solid lightgray;
    margin-left: 2rem;
    margin-right: 2rem;
}

.h1{
    padding-top: 2rem;
    font-size: 2.5rem;
    color: rgb(250, 76, 105);
    font-weight: lighter;
    padding-bottom: 2rem;
    text-align: center;
}

.parent{
    display: flex;
    padding-right: 3rem;
    padding-left: 4rem;
}

.parent1 {
    padding-right: 0.6rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: 4rem;
}
.child {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    text-align: left;
    margin-bottom: 17rem;
    box-shadow: 0 0 25px lightgray;
    padding: 2.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.child2 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    margin-bottom: -2rem;
    text-align: left;
    box-shadow: 0 0 25px lightgray;
    padding: 2.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.parent2 {
    padding-left: 3.8rem;
    display: flex;
    flex-direction: column;
    padding-top: 23rem;
}
.child3 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    margin-bottom: 17rem;
    text-align: left;
    box-shadow: 0 0 25px lightgray;
    padding: 2.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}
.child4 {
    background-color: white;
    flex-grow: 1;
    width: 460px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 0.4rem;
    margin-bottom: 17rem;
    text-align: left;
    box-shadow: 0 0 25px lightgray;
    padding: 2.5rem;
    h1{
        font-size: 1rem;
        color:rgb(0, 0, 90);
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        color:rgb(0, 0, 90);
        font-weight: lighter;
        word-spacing: 0.3rem;
    }
}

.parent3 {
    display: flex;
    flex-direction: column;
}
.verticalLine1 {
    border-left:thick solid rgb(250, 76, 105);
    margin-bottom: 15rem;
    margin-top: 4.5rem;
    height: 300px;
    margin-left: 3.6rem;
     } 


.circle_container {
	width : 70px;
	height : 70px;
	margin : 0;
    padding : 0;
}

.circle_main1 {
	width : 100%;
	height : 100%;
	border-radius : 50%;
	border : 2px solid rgb(250, 76, 105);	
	margin : 0;
    padding : 0;
    margin-left: 1.5rem;
    margin-top: 4.4rem;
}

.circle_text_container {
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	position : relative;
	left : 15%;
	top : 15%;
	transform-style : preserve-3d;
}

.circle_text{
	font: 17px "Tahoma", Arial, Serif;	
	text-align : center;
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}

.circle_main2 {
        width : 100%;
        height : 100%;
        border-radius : 50%;
        border : 2px solid rgb(250, 76, 105);	
        margin : 0;
        padding : 0;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }

.verticalLine2 {
        border-left:thick solid rgb(250, 76, 105);
        margin-bottom: 15rem;
        margin-top: -14.8rem;
        height: 160px;
        margin-left: 3.6rem;
         } 

.circle_main3 {
            width : 100%;
            height : 100%;
            border-radius : 50%;
            border : 2px solid rgb(250, 76, 105);
            background-color: rgb(250, 76, 105);
            opacity: 33%;	
            margin : 0;
            padding : 0;
            margin-left: 1.5rem;
            margin-top: -15rem;
        }

.verticalLine3 {
            border-left:thick solid rgb(250, 76, 105);
            margin-bottom: 15rem;
            margin-top: -14.8rem;
            height: 210px;
            margin-left: 3.6rem;
             } 

.verticalLine4 {
                    
    border-left:thick solid rgb(250, 76, 105);
    margin-bottom: 14.5rem;
    margin-top: -14.8rem;
    height: 380px;
    margin-left: 3.6rem;
    } 

.circle_text2 {
        font: 17px "Tahoma", Arial, Serif;
        color: white;	
        text-align : center;
        position : relative;
        top : 50%;
        transform : translateY(-50%);
    }

.circle_main4 {
        width : 100%;
        height : 100%;
        border-radius : 50%;
        border : 2px solid rgb(250, 76, 105);
        background-color: rgb(250, 76, 105);
        opacity: 66%;	
        margin : 0;
        padding : 0;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }

.circle_main5 {
        width : 100%;
        height : 100%;
        border-radius : 50%;
        border : 2px solid rgb(250, 76, 105);
        background-color: rgb(250, 76, 105);
        margin : 0;
        padding : 0;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }
