
.bar {
    background-color:rgb(29, 0, 63) ;
    background-attachment: fixed;
    background-position: bottom right;
    width: 100%;
    top: 0;
    p{
        font-size: 1rem;
        color: white;
        margin:0;
    }
    h1 {
        font-size: 1rem;
        color: white;
        margin-bottom: -2.5rem;
        text-align: center;
        padding-top: 1.2rem;
    }
  }
.logo {
    float: right;
}