.logo{
    padding-top: 1rem;
    position : fixed;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.nav {
    position: fixed;
    font-size: 0.9em;
    color: white;
    float: right; /* Clear floats */
    width: 100%;
    top: 0 ;
    margin: 0;
    list-style: none;
    font-weight: lighter;
    background: linear-gradient(to right, rgb(67, 109, 98) , rgb(27, 95, 75));
    
}
.parent {
    margin-right: 3rem;
}
.nav li {
    position: relative;
    float: right;
    p {
        margin-right: 2rem;
        padding-right: 30px;
        
    }
    
}

.nav p {
    padding: 0.7em;
    color: white;
    text-decoration: none;
    
    
}

.nav p:hover{
    color: rgb(118, 224, 193);
}

/*--- DROPDOWN ---*/
.nav__sub_menu {
    background:  linear-gradient(to right, rgb(85, 107, 101) , rgb(5, 75, 54));
    padding:0;
    margin-top: -1.2rem;
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

.nav__sub_menu li {
    float: left;
    padding: 0em;
    line-height: 0rem;
    border-bottom: 1.4px solid rgb(118, 224, 193);
    width: 100%;
}

.nav__sub_menu p{
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.nav li:hover ul{ /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}
