.logo{
    padding-top: 1rem;
    position : fixed;
}

body {
  margin: 0;
}

.navbar {
    background-color:rgb(49, 88, 77) ;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .navbar li {
    float: right;
    text-align: center;
    list-style-type: none;
    p {
      text-decoration: none;
      font-size: 1rem;
      color: white;
      padding-top: 0rem;
      padding-bottom: 0.2em;
      padding-right: 75px;
    }
  }
  
  .navbar p:hover {
    color:rgb(52, 255, 130);
  }
  
