.body{
    background-image: url('./president.png');
    background-repeat: no-repeat;
    background-position: 35px 102px;
    background-size: 386px auto;
    scroll-behavior: smooth;
    background-color: rgb(228, 228, 228);
    padding-bottom: 3rem;
}

.title{
    text-align: left;
    padding-left: 33rem;
    padding-right: 5rem;
    padding-top: 4.3rem;
    
    h1{
    font-weight: bold;
    font-size: 65px;
    padding-top: 5rem;
    margin: 0;
    }
    h2{
    font-size: 32px;
    padding-top: 0.5rem;
    margin: 0;
    }
    p{
    font-size: 16px;
    padding-top: 1.8rem;
    }
}

.button_padding{
    padding-left: 61em;
    padding-top: 7rem;
    padding-right: 3rem;
    display: flex;
}

.button {
    background: linear-gradient(to right, rgb(57, 187, 148) , rgb(131, 218, 174)); 
    border: none;
    color: white;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 0.3rem;
}
.font_li{
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
    list-style-type: none;
    margin-left: -10px;
    margin-top: -15px;
    
}

.font_li2{
    font-size: 0.6rem;
    margin: 0;
    font-weight: lighter;
    list-style-type: none;
    padding-top: 0rem;
    margin-left: -12px;
    margin-top: -5px;
}

.line  {
    border-right: 2px solid black;
    height: 55px;
    margin-left: 30px;
    top: 0;
}

.heading {
    text-align: left;
    padding-left: 26rem;
    font-size: 34px;
    font-weight: bold;
    padding-top: 2rem;
    color: grey;
    letter-spacing: 0.9rem;
}


.parent1 {
    background-color: white;
}

.parent2 {
    padding-right: 1.8rem;
    display: flex;
    flex-wrap: wrap;
  }

.child1 {
    flex-shrink: 0;
    margin-top: -60px;
    background: linear-gradient( rgb(0, 0, 90) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 180px;
    width: 296px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.9rem;
    text-align: center;
    line-height: 170px;
    box-shadow: 3px 3px 4px lightgray;
    p {
       color: rgb(0, 0, 90);
       font-weight: bold;
       position: absolute;
       margin-left: 2.9rem;
    
    }
    h1{
        visibility: hidden;
        font-size: 0.8rem;
        color:white;
        padding: 2.5rem;;
        line-height: 1rem;
        text-transform: uppercase;
    }
  }

.child1:hover{
        background: rgb(0, 0, 90);
        opacity: 0.8;
        p {
            visibility: hidden;
        }
        h1{
            visibility: visible;
        }
    }


.child2 {flex-shrink: 0;
    margin-top: -60px;
    background: linear-gradient( rgb(250, 76, 105) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 180px;
    width: 296px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.9rem;
    text-align: center;
    line-height: 170px;
    box-shadow: 3px 3px 4px lightgray;
    p{
        color: rgb(250, 76, 105);
        font-weight: bold;
        position: absolute;
        margin-left: 5rem;
    }
    h1{
        visibility: hidden;
        font-size: 0.8rem;
        color:white;
        padding: 2.5rem;;
        line-height: 1rem;
        text-transform: uppercase;
    }
  }

.child2:hover{
    background: rgb(250, 76, 105);
    opacity: 0.8;
    p {
        visibility: hidden;
    }
    h1{
        visibility: visible;
    }
}

.child3 {
    flex-shrink: 0;
    margin-top: -60px;
    background: linear-gradient( rgb(255, 238, 0) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 180px;
    width: 296px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.9rem;
    text-align: center;
    line-height: 170px;
    box-shadow: 3px 3px 4px lightgray;
    p {
        color: rgb(197, 184, 0);
        font-weight: bold;
        position: absolute;
        margin-left: 6rem;
    }
    h1{
        visibility: hidden;
        font-size: 0.8rem;
        color:white;
        padding: 2.5rem;;
        line-height: 1rem;
        text-transform: uppercase;
    }
  }
.child3:hover{
    background: rgb(197, 184, 0);
    opacity: 0.8;
    p {
        visibility: hidden;
    }
    h1{
        visibility: visible;
    }
}

.child4 {
    flex-shrink: 0;
    margin-top: -60px;
    background: linear-gradient( rgb(82, 141, 108) 25%, white 25%, white 66.6%, white 66.6%);
    flex-grow: 1;
    height: 180px;
    width: 296px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.9rem;
    text-align: center;
    line-height: 170px;
    box-shadow: 3px 4px 4px lightgray;
    p {
        color: rgb(82, 141, 108);
        font-weight: bold;
        position: absolute;
        margin-left: 4rem;
    }
    h1{
        visibility: hidden;
        font-size: 0.8rem;
        color:white;
        padding: 2.5rem;;
        line-height: 1rem;
        text-transform: uppercase;
    }
  }
.child4:hover{
    background: rgb(82, 141, 108);
    opacity: 0.8;
    p {
        visibility: hidden;
    }
    h1{
        visibility: visible;
    }
}

.line2 {
    margin-left: 4.8rem;
    width: 100px;
    border-bottom: 3px solid black;
    padding-top: 6rem;
    margin-bottom: 0;
}

.heading2 {
    padding-left: 4.8rem;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    color: grey;
    letter-spacing: 0.5rem;
}

.parent3 {
    display: flex;
    overflow-x: auto;  
    scroll-behavior: smooth;
    padding-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 2.9rem;
}

.box {
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 0;
    background: linear-gradient(to right, rgb(140, 140, 140) , rgb(46, 46, 46));
    flex-grow: 1;
    height: 150px;
    width: 310px;
    text-align: center;
    line-height: 130px;
    margin-left: 1.9rem;
    p {
        font-size: 1rem;
        color: white;
        font-weight:lighter;
        letter-spacing: 0.3rem;
    }
}

.parent4 {
    background-color: darkslategrey;
    margin: 0;
    top: 0;
}
.heading3 {
    font-size: 3rem;
    font-weight:bold;
    color: white;
    padding-left: 3rem;
}


// .slideshow {
//     display: flex;
//     overflow-x: auto;  
//     scroll-behavior: smooth;
//     padding-bottom: 2rem;
//     margin-right: 5rem;
//     margin-left: 2.9rem;
// }

// .slide {
//     flex-shrink: 0;
//     margin-top: 0;
//     background: linear-gradient(to right, rgb(140, 140, 140) , rgb(46, 46, 46));
//     flex-grow: 1;
//     // height: 150px;
//     // width: 310px;
//     // text-align: center;
//     line-height: 130px;
//     margin-left: 1.9rem;
//     p {
//         font-size: 1rem;
//         color: white;
//         font-weight:lighter;
//         letter-spacing: 0.3rem;
//     }
// }
.spotlight {
    align-items: center;
    display : flex;
}
.image {
    border-radius: 0;
    width: 45%;
    padding-top: 1em;
    padding-bottom: 1em;

    img {
        
        border-radius: 0;
        width: 100%;
     }
}

.content {
       max-width: 60em;
       width: 55%;
    }

    
