.logo {
    padding-left: 2em;
    padding-top: 1.8rem;
    position: fixed;
}

.title{
    text-align: left;
    padding-left: 30rem;
    font-size: 55px;
    font-weight: bold;
    padding-top: 6rem;
}

.title2{
    text-align: left;
    padding-left: 30rem;
    font-size: 30px;
    // font-weight: bold;
    padding-top: 0.3rem;
}

.title3{
    text-align: left;
    padding-left: 30rem;
    font-size: 15px;
    // font-weight: bold;
    padding-top: 0.5rem;
    padding-right: 3rem;
}